<!--<div class="embed video-player">

    <iframe style="border: 0; width: 100%; height: 120px;"
    src="https://bandcamp.com/EmbeddedPlayer/album={{ index .Params 0 }}/size=large/bgcol=ffffff/linkcol=de270f/tracklist=false/artwork=small/transparent=true/" 
    height="240" width="320" seamless=""></iframe>
    
    
    </div>
-->

<iframe style="border: 0; width: 1000px; height: 275px;" src="https://bandcamp.com/EmbeddedPlayer/album={{ index .Params 0 }}/size=large/bgcol=1d1e20/linkcol=ba7906/artwork=small/transparent=true/"
seamless><a href="https://oliverbrad.bandcamp.com/album/perception">Perception by Oliver Brad</a></iframe>
